/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --page-background: #161718;
  --card-color: #313131;
  --primary-text-color: #E7E7E7;
  --secondary-text-color: #A0A0A0;
  --accent-color: #4864FA;
}

body {
  background: var(--page-background);
}

/* Utility */

.container {
  padding: 0 24px;
}

.section {
  padding: 50px 0;
}

.section-heading {
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.section-paragraph {
  color: var(--secondary-text-color);
  text-align: center;
  margin: auto;
  margin-bottom: 90px;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 500px;
}

/* Header */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.company-logo {
  width: 32px;
  height: 32px;
}

.company-logo img {
  display: block;
  width: 100%;
}

.menu-button {
  border: none;
  background-color: unset;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.menu-button img {
  display: block;
  width: 100%;
}

/* Background Blobs */

.background-blob {
  position: absolute;
  top: 0;
  left: -200px;
  width: 500px;
  height: 500px;
  z-index: -1;
}

/* Hero */

.hero {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-heading {
  color: var(--primary-text-color);
  font-size: 2rem;
}

.hero-paragraph {
  color: var(--secondary-text-color);
  margin-top: 20px;
  font-weight: 500;
  font-size: 1em;
}

.hero-cta {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.learn-more-btn {
  border: none;
  background-color: var(--accent-color);
  padding: 1.0em 3.5em;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  font-weight: 500;
  margin-bottom: 50px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Achievements */

.achievements {
  color: var(--primary-text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  max-width: 500px;
  margin: auto;
}

.achievement {
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
}

.achievement__score {
  font-size: 2em;
}

/* About */

.about__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hint {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  display: inline-block;
  padding: 0.5em 1em;
  margin-bottom: 30px;
  width: auto;
}

.about__heading {
  color: var(--primary-text-color);
  margin-bottom: 20px;
  font-size: 2rem;
}

.about__paragraph {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1.2rem;
  max-width: 500px;
}

.about__specs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 30px 0;
  grid-row-gap: 20px;
  grid-column-gap: 40px;
  transform: translateX(20px);
}

.about__specs li {
  text-align: start;
  color: var(--primary-text-color);
  position: relative;
}

.about__specs li::before {
  content: '';
  position: absolute;
  background: url('/img/done.svg');
  width: 20px;
  height: 20px;
  left: -30px;
}

.about__right {
  display: flex;
  justify-content: center;
}

.about__right img {
  display: block;
  width: 100%;
  max-width: 800px;
}

/* Features section */

.feature {
  background-color: var(--card-color);
  padding: 50px 30px;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 90px;
  max-width: 400px;
}

.feature__heading {
  color: var(--primary-text-color);
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.feature__paragraph {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1em;
}

.feature__icon {
  position: absolute;
  top: -30px;
  background-color: var(--accent-color);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__icon img {
  width: 30px;
  height: 30px;
}



/* Works section */

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-list > * {
  margin-bottom: 50px;
}

.project {
  display: block;
  padding: 15px;
  width:100%;
  max-width: 500px;
  background-color: var(--primary-text-color);
}

.project-image {
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-top: 70%;
  position: relative;
}

.project-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-title {
  margin-top: 10px;
  font-size: 1em;
  color: var(--card-color);
}

/* Testimonial */

.response-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.response-list > * {
  margin-bottom: 120px;
}

.response {
  background-color: var(--card-color);
  padding: 1em 2em;
  padding-top: 3em;
  position: relative;
  max-width: 600px;
  border-radius: 5px;
}

.customer-name {
  color: var(--primary-text-color);
  font-size: 1.5em;
  font-weight: 500;
}

.customer-response {
  color: var(--secondary-text-color);
  margin: .2em 0;
  font-size: 1em;
}

.customer-response::before {
  content: '“';
  color: var(--accent-color);
  font-size: 2em;
}

.avatar {
  position: absolute;
  top: -40px;
  background-color: var(--accent-color);
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

/* Pricing */

.price-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--page-background);
}

.price-list > * {
  margin-bottom: 100px;
}

.price-card {
  background-color: var(--primary-text-color);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  min-height: 400px;
  position: relative;
}

.price-level {
  font-size: 1.5em;
  font-weight: 500;
  margin: 12px 0;
}

.price {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 18px;
}

.lil-big {
  font-size: 1.5em;
}

.price-features {
  list-style: none;
}

.price-features li {
  color: var(--card-color);
  margin-bottom: 12px;
  margin-left: 35px;
  position: relative;
  font-size: 1.1em;
}

.price-list li::before {
  content: '';
  position: absolute;
  background: url('/img/done_accent.svg') 0px 0px/25px 25px;
  width: 25px;
  height: 25px;
  left: -35px;
  top: 2px;
}

.price-button {
  display: block;
  margin-top: auto;
  width: calc(100% - 24px);
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  height: 50px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-size: 1.3em;
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
